.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 11%;
}
h3 {font-family: Arial;}
h3 {font-size: 25px;}
h3 {
	text-align: center;
} 
p {font-family: gothic;}
p {font-size: 16px;}
p {text-align: center;}

h4 {font-family: gothic;}
h4 {font-size: 16px;}

.p2{
	margin-left: 30px;
}

body{
	background-color: black;
}

/*#page-wrap {  /*showing white background
	width: 600px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;

}

form, br {
	clear: left;
	margin: 0;
	padding: 0;
}

input.form_element {
	width: 221px;
	background: transparent url('ltwt.jpeg') no-repeat;
	color: #747862;
	height: 20px;
	border: 0;
	padding: 4px 8px;
	margin-bottom: 0px;
}

.checkun{
	width: 150px;
	background: transparent url('ltwt.jpeg') no-repeat;
	color: #747862;
	height: 20px;
	background: 1px darkred;
	padding: 4px 10px;
	margin-bottom: 0px;
	position: right;

}

label, input{
	width: 160px;
	float: left;
	font: 11px bold Tahoma, Arial, sans-serif;
	margin: 1px;
	padding: 2px;
}

label{
	font: 12px bold Tahoma, Arial, sans-serif;
	background: #eeeeee;
}

input{
	width: 200px;
	padding: 2px;
	border: 1px solid #aaa;
}*/
















































